
module the-kube-apiserver 1.0;

require {
	type user_tmp_t;
	type init_t;
	class file open;
}

#============= init_t ==============
allow init_t user_tmp_t:file open;
